<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <title>{% if page_title %}{{ page_title }} | {% endif %}CVITSearch</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   
  <!-- Stylesheets -->
  <link  href="{{ static('images/favicon.ico') }}" rel="icon" type="image/png">
  <link href="{{ static('vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
  <link href="{{ static('vendor/noty/lib/noty.css') }}" rel="stylesheet">
  <link href="{{ static('vendor/animate.css/animate.min.css') }}" rel="stylesheet">
  <link href="{{ static('css/app.css') }}" rel="stylesheet">
  <link href="{{ static('css/bootstrap-mod.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <script>
    if (!(document.addEventListener)) {
      alert(
        "You have to upgrade your browser or use another modern browser to view and use this portal correctly."
      );
    }
  </script>

  <!-- Additional Headers -->
  {% block head %}{% endblock %}
</head>


<body>
  {% include 'navbar.jinja2' %}

  <!-- Page Content -->
  <!-- <main role="main" class="container main-container"> -->
    {% block content %}{% endblock %}
 <!--  </main> -->
  <!-- TODO Fix this -->
  <!-- Scroll-to-top button -->
  <!-- <a href="#" class="back-to-top"><i class="fa fa-arrow-circle-up fa-3x"></i></a> -->

  <footer class="footer">
    <div class="container" style="border-top: 1pt solid rgba(0, 0, 0, 0.1); text-align: center; margin-top: 2.5rem;">
      <span class="text-muted">
        &copy; Center for Visual Information Technology (CVIT), IIIT Hyderabad.
      </span>
    </div>
  </footer>
  <!-- JS Libraries -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
  <!-- TODO Why is this needed? -->
  <!-- <script src="{{ static('vendor/foundation/js/what-input.min.js') }}"></script> -->
  <script src="{{ static('vendor/noty/lib/noty.js') }}"></script>
  <script src="{{ static('vendor/zoom/dist/easyzoom.js') }}"></script>
  <script src="{{ static('js/app.js') }}"></script>
  <script src="{{ static('vendor/bootstrap/js/bootstrap.js') }}"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <!-- <script src="{{ static('vendor/bootstrap/js/bootstrap.bundle.js') }}"></script> -->
  {% block foot %}{% endblock %} {% if messages(request) %}
  <script>
    $(document).ready(function() {
      {% for message in messages(request) %}
      flashNoty('{{ message.tags }}', '{{ message|safe }}'); {% endfor %}
    });
  </script>
  {% endif %}
</body>
</html>