{% extends 'base.jinja2' %}

{% block content %}

<main role="main" class="container main-container">

<div class="row flex-xl-nowrap" style="margin-top: 3.5rem">
  <div class="col-12 form-upload-image">
    <h2 class="text-center" style="margin-bottom: 40px;">General Statistics</h2>
  </div>
</div>



<div class="row">
  <div class="col-md-6 small-6">
    <h5 class="text-center">Language-wise statistics</h5>
    <table class="table table">
      <thead>
      <tr style="color: var(--theme-color); background-color: #f0fff0">
        <th scope="col">Language</th>
        <th scope="col">Uploaded</th>
      </tr>
      </thead>
      <tbody>
      {% for language, data in language_split.items() %}
        {% for each in data %}
        <tr >
          <td>{{ each.language }}</td>   
          <td>{{ each.count }}</td>  
        </tr>
        {% endfor %}
        
      {% endfor %}

      <tr style="color: var(--theme-color); background-color: #f0fff0">
        <td><b>Total number of Uploads</b></td>
        <td>{{ uploaded }}</td>
      </tr>
      
      
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <div id="gen_stat_container" style="height: 500px; margin-left:2rem;"></div>
  </div>
</div>



</main>

{% endblock %}





{% block foot %}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>


<script>
$(function () {
  $('#gen_stat_container').highcharts({
     chart: {
        type: 'column'
    },
    title: {
        text: 'Total Books wrt Languages'
    },
    subtitle: {
        text: 'Source: <a href="#">Digital Library Of India</a>'
    },
    xAxis: {
        type: 'category',
        labels: {
            rotation: -45,
            style: {
                fontSize: '13px',
                fontFamily: 'Verdana, sans-serif'
            }
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Number (Scale from 1)'
        }
    },
    legend: {
        enabled: false
    },
    tooltip: {
		pointFormat: '{point.y:.1f} books '
    },
    series: [
      {% for language, data in language_split.items() -%}
          {
              name: 'Languages',

              data: [ 
                  {% for each in data %}
                    ['{{ each.language }}', {{ each.count }}]
                  {% endfor %}
              ],
              dataLabels: {
                  enabled: true,
                  rotation: -90,
                  color: '#FFFFFF',
                  align: 'right',
                  format: '{point.y:.1f}', // one decimal
                  y: 10, // 10 pixels down from the top
                  style: {
                      fontSize: '13px',
                      fontFamily: 'Verdana, sans-serif'
                  }
              }
          }{% if not loop.last %},{% endif %}
    {%- endfor %}
    ]
  });
});
</script>
{% endblock %}
